<app-navbar></app-navbar>
<section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row">
        <div class="col-4">
          <h3>PERFIL</h3>
        </div>
        <div class="col-8">
          <h3>EDITAR INFORMACION</h3>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center" *ngIf="user">
              <img src="{{user.img}}" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3" name="name">{{user.name}}</h5>
              <p class="text-muted mb-1">Comprador de Vehículos</p>
              
            </div>
          </div>
         
        </div>
        <div class="col-lg-8" *ngIf="user">
            
          <div class="card mb-4">
              <form action="POST" (ngSubmit)="updateUser()" [formGroup]="myForm" enctype="multipart/form-data">

             
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Nombre</p>
                </div>
                <div class="col-sm-9">
                    <input class="form-control" type="text" name="name" aria-label="name" id="name" formControlName="name" placeholder="{{user.name}}" >                
                    <span class="form-text text-danger" *ngIf="isValidField('name')">
                      El nombre debe tener más de 3 caracteres
                  </span>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                    <input class="form-control" type="email" name="email"  aria-label="email"id="email" formControlName="email" placeholder="{{user.email}}">
                    <span class="form-text text-danger" *ngIf="isValidField('email')">
                      El nombre debe tener más de 3 caracteres
                  </span>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Contraseña</p>
                </div>
                <div class="col-sm-9">
                    <input class="form-control" type="password" name="password"  aria-label="password" formControlName="password" id="password" placeholder="********">
                    <span class="form-text text-danger" *ngIf="isValidField('password')">
                      El nombre debe tener más de 3 caracteres
                  </span>
                </div>
                
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Repetir Contraseña</p>
                </div>
               
                <div class="col-sm-9">
                    <input class="form-control" type="password" id="repeatpassword" aria-label="repeatpassword" formControlName="repeatpassword" placeholder="********">
                    <span class="form-text text-danger" *ngIf="isValidField('repeatpassword')">
                      La contraseña debe tener más de 8 caracteres
                  </span>
                  <span class="form-text text-danger" *ngIf="isValidPassword('repeatpassword')">
                      La contraseña debe ser igual
                  </span>
                </div>
                
              </div>
              <hr>
              
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Imagen de Perfil</p>
                </div>
                <div class="col-sm-9">
                   
                        <input class="form-control" formControlName="file" aria-label="file" type="file" id="formFile" (change)="onFileChange($event)">
                        <br>
                </div>
               <div align="right">
                 <button class="btn btn-primary" type="submit" [disabled]="myForm.invalid">Actualizar</button>&nbsp;&nbsp;

                 <button class="btn btn-danger" [routerLink]="['/']" routerLinkActive="router-link-active"  type="button">Volver</button>
               </div>

              </div>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
  