<app-navbar></app-navbar>
<div class="container-fluid">

<div class="col">


    <div class="row">
        <div class="col-md-6 col-xs-12">
            <h1 class="m-4">Listado de Modelos:</h1>
        </div>
        
        <div class="col-12 col-md-6 col-xs-12 d-flex flex-row-reverse">
            <button type="submit" name="addCategory" class="m-4 btn btn-primary" *ngIf="role=='ADMIN'" [routerLink]="['/exemplary/addExemplary']">Añadir Modelo</button>
    
        </div>
    </div>

  <div class="row  d-flex justify-content-center w-100">
    
    <p-table *ngIf="listExemplary" [value]="listExemplary"  [paginator]="true" 
              [rows]="10" [showCurrentPageReport]="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,15,20]">
      <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="modelo">Modelo </th>
            <th pSortableColumn="marca">Marca del modelo </th>
            <th>Administrador

            </th>

         
          
           
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-exemplary>
          <tr>
            <td >{{exemplary.name_exemplary}}</td>
            <td >{{exemplary.name_brand.name_brand}}</td>
            <td *ngIf="role=='ADMIN'">
                <a href="#" [routerLink]="['/exemplary/updateExemplary',exemplary.name_exemplary]" class="btn btn-warning">Actualizar Modelo</a>
                &nbsp;&nbsp;
        
              
                <a  [routerLink]="['/exemplary/deleteExemplary',exemplary.name_exemplary]" class="btn btn-danger">Eliminar Modelo</a>

            </td>
                
      
                
    
             
          </tr>
      </ng-template>
  </p-table>
  </div>
    

</div>


<hr class="hr" />
<div class="col separacion">
<app-footer></app-footer>
</div>

    </div>
