<app-navbar></app-navbar>
<div class="container-fluid">

  <div class="col">


<div class="row">
    <div class="col-md-6">
        <h1 class="m-4">Cars List</h1>
    </div>
    
    <div class="col-12 col-md-6 d-flex flex-row-reverse">
        <button type="submit" name="addCategory" class="m-4 btn btn-primary" [routerLink]="['/category/add']">Add Category</button>

    </div>
</div>

<div class="row  d-flex justify-content-center w-100">
    
       
          <div class="card m-2"  *ngFor="let car of cars" style="width: 20rem;">
            <img src="{{car.img}}" class="card-img-top pt-4" alt="...">
            <div class="card-body">
              <h5 class="card-title"><b>{{car.name_brand.name_brand}}</b>
               {{car.name_brand.model}}</h5>
              <p class="card-text">
                <b>Precio: </b>{{car.price}}<br>
                <b>Año: </b>{{car.year}}<br>
                <b>Potencia:</b> {{car.hp}}cv,<br> <b>Centímetros cúbicos:</b> {{car.cubic_cent}}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

    

</div>


<hr class="hr" />
<app-footer></app-footer>
  </div>
