<app-navbar></app-navbar>
<div class="container-fluid">
<div class="row">
<div class="col">


  <div class="row">
      <div class="col-md-6">
          <h1 class="m-4">Listado de coches:</h1>
      </div>
      
      <div class="col-12 col-md-6 d-flex flex-row-reverse" *ngIf="role=='ADMIN'">
          <button type="submit" name="addCategory" class="m-4 btn btn-primary"  [routerLink]="['/cars/addCar']">Añadir coche</button>

      </div>
  </div>

  <div class="row  d-flex justify-content-center w-100">
    <div class="row">
      <div class="col-6">
      
      </div>
      <div align="right"class="col-6 mb-4">
        <input  pInputText [(ngModel)]="filtroNombre" placeholder="Busca un modelo..." (keydown.enter)="filtrar()">
        <button class="ms-2" pButton (click)="filtrar()" name="filtrar" id="filtrar" aria-label="Filtrar">Filtrar</button>
      </div>
      

    </div>
    <p-table *ngIf="cars" [value]="cars"  [paginator]="true" 
              [rows]="10" [showCurrentPageReport]="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,15,20]">
             
      <ng-template pTemplate="header">
       
          <tr>
            <th pSortableColumn="img">Imagen</th>
            <th pSortableColumn="brand">Marca <p-sortIcon field="brand"></p-sortIcon></th>
            <th pSortableColumn="model">Modelo <p-sortIcon field="model"></p-sortIcon></th>
            <th pSortableColumn="price">Precio</th>
            <th pSortableColumn="color">Color</th>
            <th pSortableColumn="cubic_cent">Centimetros Cúbicos</th>
            <th pSortableColumn="hp">Potencia</th>
            <th *ngIf="role=='ADMIN'">Administrador</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-car>
          <tr>
            <td><img align="center" src="{{car.img}}" alt="..." class="centrar img-fluid" width="250px" height="170px" ></td>
            <td >{{car.name_exemplary.name_brand.name_brand}}</td>
            <td >{{car.name_exemplary.name_exemplary}}</td>
            <td >{{car.price}}</td>
            <td >{{car.color}}</td>
            <td >{{car.cubic_cent}}</td>
            <td >{{car.hp}}</td>
            
           
            <td *ngIf="role=='USER' && car.sold!=true">
            <button class=" mt-2" pButton icon="pi pi-trash" (click)="addShoppingCart(car)" arial-label="Añadir al carrito">Añadir al carrito</button>
            <td *ngIf="role=='USER' && car.sold==true">
              <b>Vendido!</b> <img class="mb-2 ms-2"  alt="vendido" src="https://res.cloudinary.com/dpatneiyg/image/upload/v1678107201/Proyecto_JAVIERVILLARREAL/IMAGENES%20COCHES%20BASE%20DE%20DATOS/vendido_flx00j.png" width="50px" height="40px">
        </td>
              <td *ngIf="role=='ADMIN'">
            <button  pButton icon="pi pi-pencil" [routerLink]="['/cars/updateCar', car.num_bastidor]" routerLinkActive="router-link-active" arial-label="Editar" >Editar</button>&nbsp;&nbsp;
            <button class="botonRojo mt-2" pButton icon="pi pi-trash" [routerLink]="['/cars/deleteCar', car.num_bastidor]" arial-label="Borrar">Borrar</button>
          </td>
          </tr>
      </ng-template>
  </p-table>
  </div>
 
  
</div>
</div>

<hr class="hr" />

<app-footer></app-footer>
</div>
