<app-navbar></app-navbar>
<div class="container-fluid">

  <div class="col">


<div class="row">
    <div class="col-md-6">
        <h1 class="m-4">Listado de marcas:</h1>
    </div>
    
    <div class="col-12 col-md-6 d-flex flex-row-reverse">
        <button type="submit" name="addCategory" class="m-4 btn btn-primary" [routerLink]="['/category/addCategory']">Add Category</button>

    </div>
</div>
<div class="row d-flex justify-content-center w-100">
    <div class="card m-2" *ngFor="let cat of marcas" style="width: 18rem;">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body">
          <h5 class="card-title">{{cat.name_brand}}</h5>
          <p class="card-text">{{cat.country}}</p>
          <a href="#" class="btn btn-primary">Ir a los coches</a>
          <a href="#" [routerLink]="['/category/updateCategory',cat.name_brand]" class="btn btn-primary">Actualizar marca</a>
        </div>
      </div>

</div>

<hr class="hr" />
<app-footer></app-footer>
  </div>



