<div class="row">
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid cont">
      <a class="text-white navbar-brand" [routerLink]="['/']"><img src="https://res.cloudinary.com/dpatneiyg/image/upload/v1675676083/Proyecto_JAVIERVILLARREAL/logoSantosCustoms-removebg-preview_hwylu9.png" width="100px" height="50px" alt="Logo santos customs"> Los Santos Customs</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="text-white nav-link active" aria-current="page">Inicio</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/cars/listCar']" routerLinkActive="active" class=" text-white nav-link">Coches</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/category/listCategory']" routerLinkActive="active" class=" text-white nav-link" >Marcas</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/users/listUsers']" routerLinkActive="active" class=" text-white nav-link" *ngIf="admin">Usuarios</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/exemplary/listExemplary']" routerLinkActive="active" class=" text-white nav-link" *ngIf="admin">Modelos</a>
          </li>
        
          
        </ul>
        <div *ngIf="user" align="right" class="d-flex">
         
          <a aria-label="carrito" *ngIf="user.role=='USER'" [routerLink]="['/shoppingCart']" routerLinkActive="router-link-active" ><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart text-white" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg></a>
          <span class="badge badge-pill badge-primary text-white" aria-label="carrito">{{carrito.length}}</span>
        </div>
        &nbsp; &nbsp; &nbsp; 
        <ul class="navbar-nav mb-lg-0 me-4">
          <li class="nav-item dropdown dropdown-menu-right">
            <a *ngIf="user" class="text-white nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img  src="{{user.img}}" class=" rounded-circle" alt="Avatar" width="40px" height="40px">
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class=" dropdown-item" [routerLink]="['/']" (click)="logout()"> Cerrar Sesion</a></li>
              <li><a class=" dropdown-item" [routerLink]="['/users/updateUsers',username]" href="#">Editar perfil</a></li>
              
            </ul>
          </li>
        </ul>

       
            
              <button *ngIf="user==null" class=" btn btn-primary me-4" [routerLink]="['/auth/']"> Iniciar Sesión</button>
          

       

      </div>
    </div>
  </nav>
</div>
