<div class="row">
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid cont">
      <a class="text-white navbar-brand" [routerLink]="['/home']"><img src="https://res.cloudinary.com/dpatneiyg/image/upload/v1675676083/Proyecto_JAVIERVILLARREAL/logoSantosCustoms-removebg-preview_hwylu9.png" width="100px" height="50px"> Los Santos Customs</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="text-white nav-link active" aria-current="page">Inicio</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/cars/listCar']" routerLinkActive="active" class=" text-white nav-link">Cars</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/category/listCategory']" routerLinkActive="active" class=" text-white nav-link" *ngIf="admin">Marcas</a>
          </li>
        
          
        </ul>
        <form class="d-flex buscar">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success search" type="submit">Buscar</button>
        </form>
        &nbsp; &nbsp; &nbsp; 
        <ul class="navbar-nav me-auto mb-lg-0 pe-4">
          <li class="nav-item dropdown dropdown-menu-right">
            <a class="text-white nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img  src="https://res.cloudinary.com/dpatneiyg/image/upload/v1675940825/Proyecto_JAVIERVILLARREAL/hombre_b0zfoq.png" width="40px" height="40px">
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class=" dropdown-item" [routerLink]="['/']" (click)="logout()"> Cerrar Sesion</a></li>
              <li><a class=" dropdown-item" href="#">Editar perfil</a></li>
              
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
