<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<app-navbar></app-navbar>
<div class="container m-4">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-9">
            <div class="ibox">
                <div class="ibox-title">
                   
                    <h5>Elementos en el carrito:</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table shoping-cart-table">
                            <tbody>
                            <tr *ngFor="let car of listShoppingCart; let i = index">
                                
                                <td width="200">
                                    <img src="{{car.img}}" class="img-fluid">
                                    <div class="cart-product-imitation">
                                    </div>
                                </td>
                                <td class="desc">
                                    <h3>
                                    
                                       {{car.name_exemplary.name_brand.name_brand}} {{car.name_exemplary.name_exemplary}}
                                  
                                    </h3>
                                    <p class="small">
                                        Potencia: {{car.hp}}<br>
                                        Centímetros Cúbicos: {{car.cubic_cent}}<br>
                                        Año: {{car.year}}<br>

                                    </p>
                                    <dl class="small m-b-none">
                                        <dt>Detalles de la marca:</dt>
                                        <dd>Nacionalidad: {{car.name_exemplary.name_brand.country}}</dd>
                                    </dl>

                                    
                                </td>

                                
                                
                                <td>
                                    <h4>
                                       {{car.price}}€
                                    </h4>
                                </td>
                                <td width="65">
                                    <button class="btn btn-danger" (click)="deleteItem(i)">Eliminar</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                
                
                
               
                <div class="ibox-content">
                   <form method="POST" (ngSubmit)="Purchase()" enctype="multipart/form-data">

                       <button type="submit" class="btn btn-primary pull-right" (click)="Purchase()"> Comprar</button>

                   </form>
                    

                        <button class="btn btn-white" [routerLink]="['/cars/listCar']"><i class="fa fa-arrow-left"></i>  Volver </button>
                        
                    
                    </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Cart Summary</h5>
                </div>
                <div class="ibox-content">
                    <span>
                        Total
                    </span>
                    <h2 class="font-bold">
                        {{total}}€
                    </h2>

                    <hr>
                    
                </div>
            </div>

            

            
        </div>
    </div>
</div>
</div>

<div class=" separacion">
    <app-footer></app-footer>

</div>
