html {
    min-height: 100%;
    position: relative;
  }
  body {
    margin: 0;
   overflow-x: hidden;
  }
  .buscar{
    margin-left: 28%;
  }
 
  
 

 div.row{
  margin-right: 0px;
}

div.container-fluid{
  padding-right: 0px;
}